<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/stylesheet.css">
<title>WebJava3</title>
</head>
<body>
<h1>WebJava3</h1>
<form action="">
	<table>
	<thead>
	<tr>
		<th>名前</th>
		<th>フリガナ</th>
		<th>所属部署</th>
		<th>登録日時</th>
		<th>更新日時</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td th:each="user : ${users}" th:text="${user.get('name')}" />
		<td th:each="user : ${users}" th:text="${user.get('kana_name')}" />
		<td th:each="user : ${users}" th:text="${user.get('menber_division')}" />
		<td th:each="user : ${users}" th:text="${user.get('reg_time')}" />
		<td th:each="user : ${users}" th:text="${user.get('upd_time')}" />
	</tr>
	</tbody>
	</table>
</form>

</body>
</html>